<% include ../partials/header %>

    <div class="ui container">

        <% include ../partials/menu %>

        <form id="edituser" name="edituser" class="ui form" action="/users/<%= user.id %>?_method=PUT" method="POST">
            <h1 class="ui centered header"><%= user.firstname %> <%= user.lastname %></h1>
            <br>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label for="firstname">Keresztnév</label>
                        <input type="text" name="firstname" placeholder="<%= user.firstname %>" value="<%= user.firstname %>">
                    </div>
                    <div class="field">
                        <label for="lastname">Vezetéknév</label>
                        <input type="text" name="lastname" placeholder="<%= user.lastname %>" value="<%= user.lastname %>">
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="email">Email cim</label>
                <input type="text" name="email" placeholder="<%= user.email %>" value="<%= user.email %>">
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label for="role">Szerep</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="role">
                            <i class="dropdown icon"></i>
                            <div class="default text"><%= user.role %></div>
                            <div class="menu">
                                <div class="item" data-value="admin">Admin</div>
                                <div class="item" data-value="user">User</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="status">Státusz</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="status">
                            <i class="dropdown icon"></i>
                            <div class="default text"><%= user.status %></div>
                            <div class="menu">
                                <div class="item" data-value="active">active</div>
                                <div class="item" data-value="inactive">inactive</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="field">
                <label>Leírás</label>
                <textarea rows="2" name="about" placeholder="<%= user.about %>"><%= user.about %></textarea>
            </div>

            <button class="ui fluid button" type="submit">Mentés</button>
        </form>

        <% if(locals.currentUser.id != user.id) { %>
            <form id="delete-form" action="/users/<%= user.id %>?_method=DELETE" method="POST">
                <button class="ui fluid negative button" type="submit">Törlés</button>
            </form>
        <% } %>

    </div>

    <script src='/scripts/jquery-2.2.4.min.js'></script>
    <script src='/scripts/semantic.min.js'></script>

<script>
    // initialize dropdowns
    $('.ui.dropdown').dropdown();
</script>

<% include ../partials/footer %>