<% include ../partials/users_indexheader %>

    <div class="ui container">

        <% include ../partials/menu %>

        <form id="edituser" name="edituser" class="ui form" action="/users/<%= user.id %>?_method=PUT" method="POST">
            <h1 class="ui centered header"><%= user.firstname %> <%= user.lastname %></h1>
            <br>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="firstname" placeholder="First Name" value="<%= user.firstname %>">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="lastname" placeholder="Last Name" value="<%= user.lastname %>">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="username" value="<%= user.username %>">
                    </div>
                    <div class="field">
                        <label>Email address</label>
                        <input type="text" name="email" placeholder="email" value="<%= user.email %>">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>About</label>
                <textarea rows="2" name="about" placeholder="" value="<%= user.about %>"></textarea>
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>

    </div>

<% include ../partials/footer %>