<% include ../partials/header %>

    <div class="ui container">

        <% include ../partials/menu %>

        <h1 class="ui centered inverted header">Felhasználók</h1>

        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th class="single line">Név</th>
                    <th>Leírás</th>
                    <th>Email</th>
                    <th>Regisztrált</th>
                    <th>Szerep</th>
                    <th>Státusz</th>
                    <% if(locals.currentUser.role === 'admin') { %>
                        <th>Művelet</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>

                <% users.forEach(function(users){ %>
                    <tr>
                        <td><%= users.lastname %> <%= users.firstname %></td>
                        <td><%= users.about %></td>
                        <td><%= users.email %></td>
                        <td><%= moment(users.createdAt).format('LL'); %></td>
                        <td><%= users.role %></td>
                        <td><%= users.status %></td>
                        <% if(locals.currentUser.role === 'admin') { %>
                            <td><a href="/users/<%= users.id %>/edit"><button class="ui button">Módosítás</button></a></td>
                        <% } %>
                    </tr>
                <% }); %>

            </tbody>
        </table>

    </div>

<% include ../partials/footer %>