<% include ../partials/betegek_header %>

<div class="ui container">

    <% include ../partials/menu %>

    <form id="newbeteg" name="newbeteg" class="ui form" method="POST" action="/betegek/<%= beteg.id %>/?_method=PUT">
        <h1 class="ui centered header">Beteg Módosítása</h1>
        <br>
        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>Azonosító</label>
                    <input type="text" name="azonosito" id="azonosito" placeholder="Azonosito" value="<%= beteg.azonosito %>">
                </div>
                <div class="field">
                    <label>Név</label>
                    <input type="text" name="nev" id="nev" placeholder="Nev" value="<%= beteg.nev %>">
                </div>
                <div class="field">
                    <label>Csoport</label>
                    <select class="ui search selection dropdown" name="csoport" id="csoport-search-select">
                        <% csoportok.forEach(function(csoport){ %>
                            <option value="<%= csoport.id %>" <% if(beteg.beteg_csoport_id === csoport.id) { %> selected <% } %> >
                                <%= csoport.nev %>
                            </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Fázis</label>
                    <input type="text" name="fazis" id="fazis" placeholder="Fazis"  value="<%= beteg.fazis %>">
                </div>
                <div class="field">
                    <label>Kutatászáró</label>
                    <select class="ui search selection dropdown" name="kutataszaro" id="kutataszaro-select">
                            <option value="" <% if(!beteg.kutataszaro) { %> selected <% } %> >
                                Nem
                            </option>
                            <option value="kutatászáró" <% if(beteg.kutataszaro) { %> selected <% } %> >
                                Igen
                            </option>
                    </select>
                </div>

            </div>
        </div>
        <div class="field">
            <label>Megjegyzés</label>
            <textarea rows="2" name="megjegyzes" id="megjegyzes" placeholder="Egyeb tudnivalok"><%= beteg.megjegyzes %></textarea>
        </div>

        <button class="ui fluid button" type="submit">Mentés</button>
    </form>

    <form id="delete-form" action="/betegek/<%= beteg.id %>?_method=DELETE" method="POST">
        <button class="ui fluid negative button" type="submit">Törlés</button>
    </form>

</div>

<script src='/scripts/jquery-2.2.4.min.js'></script>
<script src='/scripts/semantic.min.js'></script>


<script>
$('#csoport-search-select').dropdown();
$('#kutataszaro-select').dropdown();
</script>

<% include ../partials/footer %>