<% include ../partials/users_indexheader %>

    <div class="ui container">

        <% include ../partials/menu %>

        <h1 class="ui centered inverted header">Betegek</h1>

        <center><a href="/betegek/new"><button class="ui inverted basic button">Új Beteg</button></a></center>

        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th class="single line">Kód</th>
                    <th>Név</th>
                    <th>Csoport</th>
                    <th>Megjegyzés</th>
                    <th>Fázis</th>
                    <th>Kutatászáró</th>
                    <th>Művelet</th>
                </tr>
            </thead>
            <tbody>

                <% betegek.forEach(function(beteg){ %>
                    <tr>
                        <td>
                            <a href="/betegek/<%= beteg.id %>">
                                <button class="ui secondary button">
                                    <%= beteg.azonosito %>
                                </button>
                            </a>
                        </td>
                        <td><%= beteg.nev %></td>
                        <td><%= beteg.BetegCsoport.nev %></td>
                        <td><%= beteg.megjegyzes %></td>
                        <td><%= beteg.fazis %></td>
                        <td><%= beteg.kutataszaro %></td>
                        <td><a href="/betegek/<%= beteg.id %>/edit"><button class="ui button">Módosítás</button></a></td>
                    </tr>
                <% }); %>

            </tbody>
        </table>

    </div>

    <script src='/scripts/jquery-2.2.4.min.js'></script>
    <script src='/scripts/semantic.min.js'></script>
    <script src='/scripts/tablesort.js'></script>

    <script type="text/javascript">
    $('.ui.dropdown')
        .dropdown({
            direction: 'downward'
        })
    ;
    </script>

<% include ../partials/footer %>